Your subscription is <%= @User.subscription %>

<br>
<br>

<td><%= link_to "Upgrade to Diamond", {:controller => :charges, :action => :update}, {:method => :get } %></td>


<br>
<br>

<td><%= link_to "Cancel membership", {:controller => :charges, :action => :destroy}, {:method => :get } %></td>