<td>
#if @User.subscription.(try)blank?

 <br>

 <%= link_to "New Gold subscription", new_subscription_path(:bob => "Gold") %>
 <br>

 <%=  link_to "New Diamond subscription", new_subscription_path(:bob => "Diamond") %>


  <br>

#else

	"somethingelse"
#{}"Your subscription is" @User.subscription

#link_to "Upgrade to Diamond", {:controller => :subscriptions, :action => :update, :plan => "Diamond"}, {:method => :put }
#link_to "Cancel membership", {:controller => :subscriptions, :action => :destroy}, {:method => :put }
 #end
 #end 

%>
	
</td>
</td>
<br>
<br>

<td>